<h1>All Customers</h1>
<%= link_to 'Alphabetized', customers_alphabetized_path %> |
<%= link_to 'Missing Email', customers_missing_email_path %>
<div>
  <% @customers.each do |customer| %>
    <%= render partial: 'customer', locals: { customer: customer } %>
  <% end %>
</div>